In [3]:
import pandas as pd
import funciones_analisis_sentyment as fa
%load_ext autoreload
%autoreload 2
import warnings
warnings.filterwarnings("ignore")

Extraccion de la data necesaria

In [4]:
ruta = "../Datasets/australian_user_limpio.parquet"

In [5]:
# Abrimos el dataframe
df_reviews = pd.read_parquet(ruta)
df_reviews

,user_id,user_url,reviews_item_id,reviews_recommend,reviews_review,reviews_date,year
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,True,Simple yet with great replayability. In my opi...,2011-11-05,2011
1,js41637,http://steamcommunity.com/id/js41637,251610,True,I know what you think when you see this title ...,2014-06-24,2014
3,doctr,http://steamcommunity.com/id/doctr,250320,True,This game... is so fun. The fight sequences ha...,2013-10-14,2013
4,maplemage,http://steamcommunity.com/id/maplemage,211420,True,Git gud,2014-04-15,2014
5,Wackky,http://steamcommunity.com/id/Wackky,249130,True,This game is Marvellous.,2014-05-05,2014
...,...,...,...,...,...,...,...
231273,kushikushigani,http://steamcommunity.com/id/kushikushigani,332310,True,Normally I would hardly play a lego based game...,2015-12-30,2015
231291,How51,http://steamcommunity.com/id/How51,440,True,TF2 is alot of fun and its really good but the...,2014-08-15,2014
231293,76561198111410893,http://steamcommunity.com/profiles/76561198111...,304930,True,Fun game with friends,2014-08-02,2014
231419,zaza147,http://steamcommunity.com/id/zaza147,265630,True,So Fun!! :D,2015-07-31,2015
231499,lifeonhigh,http://steamcommunity.com/id/lifeonhigh,304050,True,"This game is great. The only thing is,Why cant...",2015-12-20,2015

Se necesita cear una  nueva columna llamada "'sentiment_analysis", que reemplace a la columna "reviews_review" realizando un analisis de sentimiento, con la siguiente estaca: 0 si es malo, 1 se es neutral, 2 si es beno, teniendo en cuenta que los reviews vacios se tomaran como neutral

In [6]:
df_reviews["sentiment_analysis"] = df_reviews["reviews_review"].apply(fa.analisis_sentimiento)

In [7]:
# Verificamos la columna
df_reviews.head()

,user_id,user_url,reviews_item_id,reviews_recommend,reviews_review,reviews_date,year,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,True,Simple yet with great replayability. In my opi...,2011-11-05,2011,2
1,js41637,http://steamcommunity.com/id/js41637,251610,True,I know what you think when you see this title ...,2014-06-24,2014,2
3,doctr,http://steamcommunity.com/id/doctr,250320,True,This game... is so fun. The fight sequences ha...,2013-10-14,2013,2
4,maplemage,http://steamcommunity.com/id/maplemage,211420,True,Git gud,2014-04-15,2014,1
5,Wackky,http://steamcommunity.com/id/Wackky,249130,True,This game is Marvellous.,2014-05-05,2014,1

Eliminamos la columna "reviews_review"

In [8]:
df_reviews = df_reviews.drop("reviews_review", axis=1)

In [9]:
df_reviews.head()

,user_id,user_url,reviews_item_id,reviews_recommend,reviews_date,year,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,True,2011-11-05,2011,2
1,js41637,http://steamcommunity.com/id/js41637,251610,True,2014-06-24,2014,2
3,doctr,http://steamcommunity.com/id/doctr,250320,True,2013-10-14,2013,2
4,maplemage,http://steamcommunity.com/id/maplemage,211420,True,2014-04-15,2014,1
5,Wackky,http://steamcommunity.com/id/Wackky,249130,True,2014-05-05,2014,1

cargamos el dataset en formato parquet

In [10]:
df_reviews.to_parquet("../Datasets/reviews_analisis_sentiment.parquet")