In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

Importamos la data necesaria

In [2]:
ruta = "../Funciones/data/user_for_genre.parquet"

Abrimos el dataset correspondiente

In [4]:
df_playtime = pd.read_parquet(ruta)
df_playtime

                   user_id item_id  playtime_forever     genres      id  year
0        76561197970982479      10               0.0     Action      10  2000
1                  js41637      10               0.0     Action      10  2000
2               Riot-Punch      10               0.0     Action      10  2000
3                    doctr      10               2.0     Action      10  2000
4           corrupted_soul      10               2.0     Action      10  2000
...                    ...     ...               ...        ...     ...   ...
1980607           Celerius  409040               0.0        RPG  409040  2016
1980608           Celerius  431870               0.0     Action  431870  2016
1980609           Celerius  431870               0.0  Adventure  431870  2016
1980610           Celerius  431870               0.0      Indie  431870  2016
1980611           Celerius  431870               0.0        RPG  431870  2016

[1980612 rows x 6 columns]

Para la realizacion de esta funcion utilizamos el dataset ya transformado llamado "user_for_genre" ya que nos sirve para ambas funciones, en este caso seleccionaremos las columnas necesarias solamente

In [5]:
df_play_genre = df_playtime[["playtime_forever", "genres", "year"]]
df_play_genre

         playtime_forever     genres  year
0                     0.0     Action  2000
1                     0.0     Action  2000
2                     0.0     Action  2000
3                     2.0     Action  2000
4                     2.0     Action  2000
...                   ...        ...   ...
1980607               0.0        RPG  2016
1980608               0.0     Action  2016
1980609               0.0  Adventure  2016
1980610               0.0      Indie  2016
1980611               0.0        RPG  2016

[1980612 rows x 3 columns]

Creamos la funcion

def PlayTimeGenre( genero: str ) : Debe devolver año con más horas jugadas para dicho género.
Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

In [14]:
def playTimeGenre(genero: str):
    df = df_play_genre[df_play_genre["genres"].str.contains(genero, case=False, na=False)]
    df_result = df.groupby("year")["playtime_forever"].sum().reset_index()
    max_year = df_result.iloc[df_result["playtime_forever"].idxmax()]
    
    return {"Año con más horas jugadas para el género " + genero: max_year["year"], "Horas jugadas": max_year["playtime_forever"]}

In [17]:
playTimeGenre("Indie")

{'Año con más horas jugadas para el género Indie': '2006',
 'Horas jugadas': 1750058.0}

Como encontramos un funconamiento correcto, procedemos a guardar el dataset en la carpeta data, donde se encuentran los datasets necesarios para las funciones

In [16]:
df_play_genre.to_parquet("../Funciones/data/playtime_genres.parquet")