In [4]:
import json
import ast
%load_ext autoreload
%autoreload 2
import funciones_etl
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Extraemos el archiovo en formato json

In [5]:
# ruta
ruta = "../Datasets/output_steam_games.json"

Abrimos el archivo

In [6]:
# Se crea una lista vacia, se abre el archivo y se recorre linea por linea para luego aggregarlas a la lista 
fila = []
with open(ruta, encoding= "utf-8") as f:
    for line in f.readlines():
        data = json.loads(line)
        fila.append(data)

In [7]:
# Con la lista ya cargada se procede a crear el dataframe
df_games = pd.DataFrame(fila)
df_games

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

Podemos observar que el dataframe tiene 13 columnas y 120445 registros, pero existen filas en los que sus registros entereos son de tipo NaN

In [8]:
# Eliminamos los registros vacios
df_games = df_games.dropna(how='all').reset_index(drop=True)

In [9]:
df_games

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,False,773570,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32130,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
32131,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
32132,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
32133,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
32134,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

Ya no existen todas las filas entreas con valores nulos, verificamos datos y valores nulos en diferentes columnas

In [10]:
funciones_etl.verificar_datos(df_games)

Advertencia: la columna publisher, tiene valores nulos
Advertencia: la columna genres, tiene valores nulos
Advertencia: la columna app_name, tiene valores nulos
Advertencia: la columna title, tiene valores nulos
Advertencia: la columna release_date, tiene valores nulos
Advertencia: la columna tags, tiene valores nulos
Advertencia: la columna reviews_url, tiene valores nulos
Advertencia: la columna specs, tiene valores nulos
Advertencia: la columna price, tiene valores nulos
Advertencia: la columna id, tiene valores nulos
Advertencia: la columna developer, tiene valores nulos

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,publisher,"[<class 'str'>, <class 'float'>]",8052,25.06,74.94
1,genres,"[<class 'list'>, <class 'float'>]",3283,10.22,89.78
2,app_name,"[<class 'str'>, <class 'float'>]",2,0.01,99.99
3,title,"[<class 'str'>, <class 'float'>]",2050,6.38,93.62
4,url,[<class 'str'>],0,0.00,100.00
5,release_date,"[<class 'str'>, <class 'float'>]",2067,6.43,93.57
6,tags,"[<class 'list'>, <class 'float'>]",163,0.51,99.49
7,reviews_url,"[<class 'str'>, <class 'float'>]",2,0.01,99.99
8,specs,"[<class 'list'>, <class 'float'>]",670,2.08,97.92
9,price,"[<class 'float'>, <class 'str'>]",1377,4.29,95.71
10,early_access,[<class 'bool'>],0,0.00,100.00
11,id,"[<class 'str'>, <class 'float'>]",2,0.01,99.99
12,developer,"[<class 'str'>, <class 'float'>]",3299,10.27,89.73

podemos observar que la mayoria de las columnas poseen datos nulos pero ue ademas tenemos una columna "id" que funciona como identificador unico por cada registro, asi que podemos verificar valores duplicados en el dataframe

In [11]:
# Valores duplicados
duplicados = funciones_etl.valores_duplicados(df_games, "id")
duplicados

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
74,NaN,NaN,NaN,NaN,http://store.steampowered.com/,NaN,NaN,NaN,NaN,19.99,False,NaN,NaN
13894,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,False,612880,Machine Games
14573,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/Wolfe...,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,False,612880,Machine Games
30961,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",NaN,"[Single-player, Steam Achievements, Steam Trad...",19.99,False,NaN,"Rocksteady Studios,Feral Interactive (Mac)"

Verificando por si id encontramos cuatro registros duplicados, los cuales procederemos a eliominar apoyandonos en el indice

In [12]:
# Eliminamos los registros por el indice
indices = [74, 13894]
df_games = df_games.drop(indices)
# Verificamos de nuevo los datos duplicados
funciones_etl.valores_duplicados(df_games, ["id"])

Empty DataFrame
Columns: [publisher, genres, app_name, title, url, release_date, tags, reviews_url, specs, price, early_access, id, developer]
Index: []

Eliminamos columnas que a priori son innecesarias para la realizacion del trabajo

In [13]:
columnas = ["app_name", "url", "specs", "tags"]
df_games.drop(columns=columnas, axis=1, inplace=True)
df_games.columns

Index(['publisher', 'genres', 'title', 'release_date', 'reviews_url', 'price',
       'early_access', 'id', 'developer'],
      dtype='object')

## Columna developer

Como sabemos esta columna tiene datos nulos, asi que procedemos verlos

In [14]:
developer_nulos = funciones_etl.valores_nulos_columna(df_games, "developer")
developer_nulos

,publisher,genres,title,release_date,reviews_url,price,early_access,id,developer,index
4,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/773570/reviews/?...,2.99,False,773570,NaN,4
11,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/724910/reviews/?...,Free,False,724910,NaN,11
19,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/772590/reviews/?...,4.99,True,772590,NaN,19
20,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/640250/reviews/?...,2.99,True,640250,NaN,20
22,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/711440/reviews/?...,0.99,True,711440,NaN,22
...,...,...,...,...,...,...,...,...,...,...
32118,NaN,NaN,Robotpencil Presents: Exercise: Brushwork,2018-01-03,http://steamcommunity.com/app/775640/reviews/?...,3.99,False,775640,NaN,32118
32119,NaN,NaN,Robotpencil Presents: Creative Composition,2018-01-03,http://steamcommunity.com/app/777930/reviews/?...,3.99,False,777930,NaN,32119
32120,NaN,NaN,The Gamble House,2016-11-19,http://steamcommunity.com/app/775370/reviews/?...,4.99,False,775370,NaN,32120
32121,NaN,NaN,Kalen Chock Presents: 2017 Free Tutorial,2018-01-03,http://steamcommunity.com/app/777950/reviews/?...,Free,False,777950,NaN,32121
32134,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/681550/reviews/?...,4.99,True,681550,NaN,32134

reemplazamos el bvalor nulo por "Desarrollador desconocido" en esta columna

In [15]:
df_games["developer"].fillna("Desarrollador desconocido", inplace=True)

## Colummna title

esta columna tambien tiene valores nulos, que podremos ver

In [16]:
title_nulos = funciones_etl.valores_nulos_columna(df_games, "title")
title_nulos

,publisher,genres,title,release_date,reviews_url,price,early_access,id,developer,index
4,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/773570/reviews/?...,2.99,False,773570,Desarrollador desconocido,4
11,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/724910/reviews/?...,Free,False,724910,Desarrollador desconocido,11
19,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/772590/reviews/?...,4.99,True,772590,Desarrollador desconocido,19
20,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/640250/reviews/?...,2.99,True,640250,Desarrollador desconocido,20
22,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/711440/reviews/?...,0.99,True,711440,Desarrollador desconocido,22
...,...,...,...,...,...,...,...,...,...,...
32073,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/745900/reviews/?...,19.99,False,745900,Desarrollador desconocido,32073
32076,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/764110/reviews/?...,1.99,False,764110,Desarrollador desconocido,32076
32077,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/705860/reviews/?...,Free,True,705860,Desarrollador desconocido,32077
32085,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/755540/reviews/?...,NaN,False,755540,Desarrollador desconocido,32085
32134,NaN,NaN,NaN,NaN,http://steamcommunity.com/app/681550/reviews/?...,4.99,True,681550,Desarrollador desconocido,32134

Reemplazamos el valor nulo en esta columna por "Sin Dato Disponlible"

In [17]:
df_games["title"].fillna("Sin Dato Disponlible", inplace=True)

## Columna genres

Eliminamos los valores nulos de la columna genres, usando explode ya que esta esta formada por una lista

In [18]:
df_games = df_games.explode('genres')
df_games = df_games.dropna(subset=['genres'])

## Columna "release_date"

Esta columna no sera necesaria para las funciones, pero antes de eliminarla extraemos el año de lanzamiento

In [19]:
df_games["year"] = df_games["release_date"].apply(funciones_etl.funcion_anio)

In [20]:
# Eliminamos la columna
df_games = df_games.drop("release_date", axis=1)

In [21]:
# Verificamos datafreame
df_games.columns

Index(['publisher', 'genres', 'title', 'reviews_url', 'price', 'early_access',
       'id', 'developer', 'year'],
      dtype='object')

## Colummna publisher

Esta columna tambien posee datos nulos, que remmplazaremos po el valor "Sin Dato Disponlible"

In [22]:
nulos_publisher = funciones_etl.valores_nulos_columna(df_games, "publisher")
nulos_publisher

,publisher,genres,title,reviews_url,price,early_access,id,developer,year,index
6,NaN,Free to Play,SNOW - All Access Basic Pass,http://steamcommunity.com/app/774276/reviews/?...,9.99,False,774276,Poppermost Productions,2018,6
6,NaN,Indie,SNOW - All Access Basic Pass,http://steamcommunity.com/app/774276/reviews/?...,9.99,False,774276,Poppermost Productions,2018,6
6,NaN,Simulation,SNOW - All Access Basic Pass,http://steamcommunity.com/app/774276/reviews/?...,9.99,False,774276,Poppermost Productions,2018,6
6,NaN,Sports,SNOW - All Access Basic Pass,http://steamcommunity.com/app/774276/reviews/?...,9.99,False,774276,Poppermost Productions,2018,6
37,NaN,Action,Underdone - Soundtrack,http://steamcommunity.com/app/754360/reviews/?...,8.99,False,754360,The Commander,2018,37
...,...,...,...,...,...,...,...,...,...,...
32094,NaN,Casual,Casino Slot Machines - The Spring,http://steamcommunity.com/app/776420/reviews/?...,0.99,False,776420,Boogygames Studios,2018,32094
32094,NaN,Indie,Casino Slot Machines - The Spring,http://steamcommunity.com/app/776420/reviews/?...,0.99,False,776420,Boogygames Studios,2018,32094
32094,NaN,Simulation,Casino Slot Machines - The Spring,http://steamcommunity.com/app/776420/reviews/?...,0.99,False,776420,Boogygames Studios,2018,32094
32094,NaN,Sports,Casino Slot Machines - The Spring,http://steamcommunity.com/app/776420/reviews/?...,0.99,False,776420,Boogygames Studios,2018,32094
32111,NaN,Sports,International Online Soccer,http://steamcommunity.com/app/90007/reviews/?b...,NaN,False,90007,I.O.S. Team,2002,32111

In [23]:
df_games["publisher"].fillna("Sin Dato Disponlible", inplace=True)

## Columna price

Verificamos el tipo de datos de la columna

In [24]:
df_games["price"].unique()

array([4.99, 'Free To Play', 'Free to Play', 0.99, 3.99, 9.99, 18.99,
       29.99, nan, 10.99, 2.99, 1.59, 14.99, 1.99, 59.99, 8.99, 6.99,
       7.99, 39.99, 'Free', 19.99, 7.49, 12.99, 5.99, 2.49, 15.99, 1.25,
       24.99, 17.99, 61.99, 3.49, 11.99, 13.99, 'Free Demo',
       'Play for Free!', 34.99, 74.76, 1.49, 32.99, 99.99, 14.95, 69.99,
       16.99, 79.99, 49.99, 5.0, 44.99, 13.98, 29.96, 109.99, 149.99,
       771.71, 'Install Now', 21.99, 89.99,
       'Play WARMACHINE: Tactics Demo', 0.98, 139.92, 4.29, 64.99,
       'Free Mod', 54.99, 74.99, 'Install Theme', 0.89, 'Third-party',
       0.5, 'Play Now', 299.99, 1.29, 119.99, 3.0, 15.0, 5.49, 23.99,
       49.0, 20.99, 10.93, 1.39, 'Free HITMAN™ Holiday Pack', 36.99, 4.49,
       2.0, 4.0, 1.95, 1.5, 199.0, 189.0, 6.66, 27.99, 129.99, 179.0,
       26.99, 399.99, 31.99, 399.0, 20.0, 40.0, 3.33, 22.99, 320.0, 38.85,
       71.7, 995.0, 27.49, 3.39, 6.0, 19.95, 499.99, 199.99, 16.06, 4.68,
       131.4, 44.98, 202.76, 2.3, 0.95, 172.24, 249.99, 2.97, 10.96, 10.0,
       30.0, 2.66, 6.48, 1.0, 11.15, 'Play the Demo', 99.0, 87.94, 0.49,
       9.98, 9.95, 7.0, 12.89, 6.49, 1.87, 42.99, 41.99, 289.99,
       'Free to Try', 23.96, 5.65, 12.0, 59.95, 13.37, 189.96, 124.99,
       19.98, 160.91, 'Free to Use'], dtype=object)

La columna deberia ser de tipo float, pero al tener valores como "frre to play" e "install theme", permanece siendo de tipo object, cambiamos esos valores por 0.0

In [25]:
df_games["price"] = df_games["price"].apply(funciones_etl.conver_foltante)
df_games["price"].dtype

dtype('float64')

Podemos observar que se ham cambiado los valores y la columna ya puede ser de tipo float

In [26]:
# verificamos price
df_games["price"].unique()

array([4.9900e+00, 0.0000e+00, 9.9000e-01, 3.9900e+00, 9.9900e+00,
       1.8990e+01, 2.9990e+01, 1.0990e+01, 2.9900e+00, 1.5900e+00,
       1.4990e+01, 1.9900e+00, 5.9990e+01, 8.9900e+00, 6.9900e+00,
       7.9900e+00, 3.9990e+01, 1.9990e+01, 7.4900e+00, 1.2990e+01,
       5.9900e+00, 2.4900e+00, 1.5990e+01, 1.2500e+00, 2.4990e+01,
       1.7990e+01, 6.1990e+01, 3.4900e+00, 1.1990e+01, 1.3990e+01,
       3.4990e+01, 7.4760e+01, 1.4900e+00, 3.2990e+01, 9.9990e+01,
       1.4950e+01, 6.9990e+01, 1.6990e+01, 7.9990e+01, 4.9990e+01,
       5.0000e+00, 4.4990e+01, 1.3980e+01, 2.9960e+01, 1.0999e+02,
       1.4999e+02, 7.7171e+02, 2.1990e+01, 8.9990e+01, 9.8000e-01,
       1.3992e+02, 4.2900e+00, 6.4990e+01, 5.4990e+01, 7.4990e+01,
       8.9000e-01, 5.0000e-01, 2.9999e+02, 1.2900e+00, 1.1999e+02,
       3.0000e+00, 1.5000e+01, 5.4900e+00, 2.3990e+01, 4.9000e+01,
       2.0990e+01, 1.0930e+01, 1.3900e+00, 3.6990e+01, 4.4900e+00,
       2.0000e+00, 4.0000e+00, 1.9500e+00, 1.5000e+00, 1.9900e+02,
       1.8900e+02, 6.6600e+00, 2.7990e+01, 1.2999e+02, 1.7900e+02,
       2.6990e+01, 3.9999e+02, 3.1990e+01, 3.9900e+02, 2.0000e+01,
       4.0000e+01, 3.3300e+00, 2.2990e+01, 3.2000e+02, 3.8850e+01,
       7.1700e+01, 9.9500e+02, 2.7490e+01, 3.3900e+00, 6.0000e+00,
       1.9950e+01, 4.9999e+02, 1.9999e+02, 1.6060e+01, 4.6800e+00,
       1.3140e+02, 4.4980e+01, 2.0276e+02, 2.3000e+00, 9.5000e-01,
       1.7224e+02, 2.4999e+02, 2.9700e+00, 1.0960e+01, 1.0000e+01,
       3.0000e+01, 2.6600e+00, 6.4800e+00, 1.0000e+00, 1.1150e+01,
       9.9000e+01, 8.7940e+01, 4.9000e-01, 9.9800e+00, 9.9500e+00,
       7.0000e+00, 1.2890e+01, 6.4900e+00, 1.8700e+00, 4.2990e+01,
       4.1990e+01, 2.8999e+02, 2.3960e+01, 5.6500e+00, 1.2000e+01,
       5.9950e+01, 1.3370e+01, 1.8996e+02, 1.2499e+02, 1.9980e+01,
       1.6091e+02])

## Colummna id

esta columna tambien tiene datos nulos, procedemos a verlos

In [27]:
id_nulos = funciones_etl.valores_nulos_columna(df_games, "id")
id_nulos

,publisher,genres,title,reviews_url,price,early_access,id,developer,year,index
30961,"Warner Bros. Interactive Entertainment, Feral ...",Action,Batman: Arkham City - Game of the Year Edition,NaN,19.99,False,NaN,"Rocksteady Studios,Feral Interactive (Mac)",2012,30961
30961,"Warner Bros. Interactive Entertainment, Feral ...",Adventure,Batman: Arkham City - Game of the Year Edition,NaN,19.99,False,NaN,"Rocksteady Studios,Feral Interactive (Mac)",2012,30961

Observamos que los datos son nulos y duplicados al mismo tiempo, por lo tanto procedemos a verificar ese registro

In [28]:
df_batman = df_games[df_games['title'] == 'Batman: Arkham City - Game of the Year Edition']
df_batman

,publisher,genres,title,reviews_url,price,early_access,id,developer,year
1068,"Warner Bros. Interactive Entertainment, Feral ...",Action,Batman: Arkham City - Game of the Year Edition,http://steamcommunity.com/app/200260/reviews/?...,19.99,False,200260,"Rocksteady Studios,Feral Interactive (Mac)",2012
1068,"Warner Bros. Interactive Entertainment, Feral ...",Adventure,Batman: Arkham City - Game of the Year Edition,http://steamcommunity.com/app/200260/reviews/?...,19.99,False,200260,"Rocksteady Studios,Feral Interactive (Mac)",2012
30961,"Warner Bros. Interactive Entertainment, Feral ...",Action,Batman: Arkham City - Game of the Year Edition,NaN,19.99,False,NaN,"Rocksteady Studios,Feral Interactive (Mac)",2012
30961,"Warner Bros. Interactive Entertainment, Feral ...",Adventure,Batman: Arkham City - Game of the Year Edition,NaN,19.99,False,NaN,"Rocksteady Studios,Feral Interactive (Mac)",2012

Concluimos con que el dato no esta figura para dos generos asi que procedemos a eliminar los datos quee tienen id nulo

In [29]:
# Obtenemos las filas con ids nulos
df_nulos = df_games[df_games['id'].isnull()]

In [30]:
# Eliminar las filas con ID nulo
df_games = df_games.drop(df_nulos.index)

In [33]:

df_games["year"] = df_games["year"].astype(float)

Cargamos el dataset, en formato parquert

In [35]:
df_games.to_parquet("../Datasets/steam_games_limpio.parquet")